.tabs{
    width: 920px;
    position: absolute;
    padding: 30px;
}

.tab-content{
    padding: 3rem;
    background-color: #ffff;
}

.tab-list{
  padding: 0;
  margin: 0;
}

.tab-list-item{
  display: inline-block;
    list-style: none;
    padding: 0.5rem 5rem;
    background-color: #4a4646;
    margin-right: 3px;
    color: #fff;
}

.tab-list-active{
    background-color: #fff;
    margin-bottom: -2px;
    font-weight: 500;
    color: #A10000;
}